<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyc.boot.mapper.DevelopTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zyc.boot.pojo.po.DevelopTask">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="app_key" property="appKey" />
        <result column="app_secret" property="appSecret" />
        <result column="project_number" property="projectNumber" />
        <result column="customer" property="customer" />
        <result column="remark" property="remark" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, app_key, app_secret, project_number, customer, remark, created_at, updated_at
    </sql>

</mapper>
